body {
  user-select: none;
}

.game-container {
  display: grid;
  grid-template-rows: 20px 100px 100px 560px 300px 20px;
  grid-template-columns: 50px 1350px 50px;

  height: 1100px;
  width: 1350px;

  margin: 0 auto;
  font-family: 'Skranji', cursive;
}

.cards-container {
  display: grid;
  position: relative;
  gap: 80px;

  display: flex;
  justify-content: center;
  align-items: center;

  grid-row: 5 / 6;
  grid-column: 2 / 3;
}

.card-img {
  width: 200px;
}

/* cardbox */
.war-card-box {
  position: absolute;
  cursor: pointer;

  scale: 1.4;
  right: 204px;
  top: 138px;

  animation: right-to-left 1s ease-in;
}

@keyframes right-to-left {
  0% {
    transform: translateX(400px);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.prepare-for-war:hover {
  scale: 1.4;
  /* carpeala */
}
