body {
  user-select: none;

  /* fonts */
  font-family: 'Young Serif', serif;

  /* colors */
  --white: #fff;
  --black: #000;
  --win: #58a4f0;
  --lost: #be3a7c;
}

.content {
  position: relative;
}

/* welcome page START */
.welcome {
  position: absolute;
  top: -8px;
  width: 100vw;
  height: 100vh;

  background-image: url(./img/bg.jpg);
  background-size: cover;

  background-repeat: no-repeat;
  background-position: center center;
  z-index: 10;

  /* display: none; */
}

.welcome-animation {
  animation: fade-out 2s forwards;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.welcome-box {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  margin: 0 auto;
}

.welcome-box-frame {
  display: flex;
  justify-content: center;
  align-items: center;

  backdrop-filter: blur(5px);
  box-shadow: 0 0 35px var(--white);
  border-radius: 20px;
  width: 850px;
  height: 550px;
}

.welcome-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;

  background-image: url(./img/login-bg.png);
  background-repeat: no-repeat;
  background-position: center center;

  width: 850px;
  height: 550px;
}

.profile-text {
  text-align: center;
}

.profile-text h1 {
  font-size: 50px;
  margin: 0;
  color: #e9e5d9;
  text-shadow: 0 0 15px var(--black);
}

.profile-text h3 {
  margin: 0;
}

.profile-picture {
  display: flex;
  justify-content: center;
  align-items: center;
}

#profilePicture {
  width: 150px;
  cursor: pointer;
  animation: fade-in 1s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#prevPicture:hover,
#nextPicture:hover {
  scale: 1.2;
  cursor: pointer;
}

#openPack {
  width: 60px;
  margin-top: 10px;
  cursor: pointer;

  border-radius: 50%;
  box-shadow: 0 0 5px var(--black);
}

input {
  background: transparent;
  text-align: center;
  border: 1px solid transparent;
  box-shadow: 0 0 35px var(--white);
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}

.profile-controls {
  cursor: pointer;
}

.profile-controls:hover #openPack {
  animation: openPack 1.2s linear infinite;
}

.profile-controls h3 {
  margin: 0;
}

@keyframes openPack {
  0% {
    scale: 1;
  }

  50% {
    scale: 1.2;
    box-shadow: 0 0 15px var(--lost);
  }

  100% {
    scale: 1;
  }
}

@media screen and (max-width: 899px) {
  .welcome-profile {
    background-image: url(./img/login-bg.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 300px;
    transform: translateY(-50px);
    margin-top: 40px;

    width: 300px;
    height: 500px;
  }

  .profile-text h1 {
    font-size: 30px;
  }
}
/* welcome page END */

/* game-arena START */
.game-arena {
  position: absolute;
  top: -8px;
  width: 100vw;
  height: 100vh;

  background-image: url(./img/bg.jpg);
  background-size: cover;

  background-repeat: no-repeat;
  background-position: center center;
  z-index: 10;

  display: none;
}

.game-box-arena {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  margin: 0 auto;
}

.game-box-arena-frame {
  display: flex;
  justify-content: center;
  align-items: center;

  backdrop-filter: blur(5px);
  box-shadow: 0 0 35px var(--white);
  border-radius: 20px;
  width: 1280px;
  height: 720px;
}

.warscore-frame img {
  position: absolute;
  top: 0;
  width: 600px;
  left: calc(50% - 300px);
}

.warscore-text {
  position: absolute;
  text-transform: uppercase;
  color: var(--white);
  text-shadow: 0 0 5px var(--black);
  top: 55px;
  left: calc(50% - 50px);

  display: flex;
  justify-content: center;
  align-items: center;
}

.warscore-text-players {
  font-size: 12px;
}

#warNameAway {
  position: absolute;
  left: 164px;
  top: 18px;
  margin: 0;
}

#warNameHome {
  position: absolute;
  right: 172px;
  top: 18px;
  margin: 0;
}

.warscore-text-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  font-size: 45px;
}

#warScoreAway {
  color: var(--lost);
}

#warScoreHome {
  color: var(--win);
}

.profile {
  position: absolute;
  top: 0;
  z-index: -1;
}

#warProfileAway {
  position: absolute;
  left: 250px;
  width: 150px;
  top: 0;
}

#warProfileHome {
  position: absolute;
  right: 250px;
  width: 150px;
  top: 0;
}

/*
#warScoreHome {
  color: var(--win);
}

#warScoreAway {
  color: var(--lost);
}

.war-score img {
  position: absolute;
  width: 800px;
  top: 10px;
  left: calc(50% - 400px);
}

.war-score h1 {
  text-transform: uppercase;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);

  top: 20px;
  font-size: 30px;
}

#warNameHome {
  left: calc(0);
}

#warNameAway {
  right: calc(50% - 315px);
}

.profile img {
  width: 150px;
  position: absolute;
  top: 20px;
  z-index: -1;
}

.war-profile-home {
  left: calc(50% - 640);
}

.war-profile-away {
  right: calc(50% - 640);
}

@media screen and (max-width: 999px) {
  .war-score img {
    width: 500px;
    left: calc(50% - 250px);
    top: 15px;
  }

  .warscore {
    font-size: 30px;
    font-weight: bold;
    z-index: 1;
    top: 65px;
  }

  .war-score h1 {
    top: 10px;
    font-size: 20px;
  }

  #warNameHome {
    left: calc(50% - 220px);
  }

  #warNameAway {
    right: calc(50% - 218px);
  }

  .profile img {
    width: 100px;
    top: 15px;
  }

  .war-profile-home {
    left: calc(50% - 300px);
  }

  .war-profile-away {
    right: calc(50% - 300px);
  }
}

@media screen and (max-width: 599px) {
  .war-score img {
    width: 350px;
    left: calc(50% - 175px);
    top: 15px;
  }

  .warscore {
    font-size: 20px;
    font-weight: bold;
    z-index: 1;
    top: 50px;
  }

  .war-score h1 {
    top: 5px;
    font-size: 16px;
  }

  #warNameHome {
    left: calc(50% - 155px);
  }

  #warNameAway {
    right: calc(50% - 153px);
  }

  .profile img {
    width: 50px;
    top: 15px;
  }

  .war-profile-home {
    left: calc(50% - 180px);
  }

  .war-profile-away {
    right: calc(50% - 180px);
  }
}
war-score END */
